.roulette-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.arrow {
  font-size: 26px;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
}

.roulette-wheel {
  width: 260px;
  height: 260px;
  cursor: pointer;
  transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
}

h2 {
  margin-bottom: 12px;
  font-size: 20px;
  color: #222;
}
p {
  margin-top: 0;
  font-size: 12px;
  color: rgb(218, 29, 29);
}

.roulette-container {
  z-index: 4;
}
